# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{gradle,java}]
indent_size = 4
indent_style = space
