# generated code
bin/
gen/
annotation_gen/
generated/

# vm crash logs
hs_err_pid*.log

# annotation processor log files
androidannotations.log

# developer specific settings and credentials
local.properties
private.properties
/crowdin/credentials
/main/**/values/mapsapikey.xml
/main/cgeo.geocaching_preferences.xml
/main/**/values/keys.xml
# but do not ignore the settings from the template directories
!main/templates/*
!templates/*

# attribute generation, localization testing temporary files
/main/project/localization/*.missing
/main/project/attributes/drawable-mdpi/
/main/project/attributes/iconlist1res.html
/main/project/settings/drawable-mdpi/

# KDE directory settings
.directory

# build system temporary files
.gradle/
main/build/
mapswithme-api/build/
build
build-cache/
# build system user specific files
main/gradle.properties

# ignore IDEA settings
.idea/
# but have a common checkstyle configuration
!.idea/checkstyle-idea.xml
*.iml

# ignore AS layout captures
captures/

main/usage.txt