<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cgeo.geocaching"
    android:installLocation="auto"
    android:versionCode="20121203"
    android:versionName="developer build" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".CgeoApplication"
        android:allowBackup="true"
        android:backupAgent="cgeo.geocaching.backup.CentralBackupAgent"
        android:icon="@drawable/cgeo"
        android:label="@string/app_name"
        android:theme="@style/cgeo"
        android:hardwareAccelerated="false">
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <!-- Samsung Multi-Window support -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIsvD_aUSDMwWOf9NkwwxZ4kJJI_AG2EaxjSu2jw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/cgeo_main"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="cgeo.geocaching.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            
            <!-- keyword based search from search widget -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
            <!-- This can trigger our app from Google Now by something like "Search for keyword on c:geo".
            See http://developer.android.com/guide/components/intents-common.html#Search -->
			<intent-filter>
		        <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		    </intent-filter>
    
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".CachePopup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/popup_dark"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/about"
            android:parentActivityName="cgeo.geocaching.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.MainActivity" />
        </activity>
        <activity
            android:name=".UsefulAppsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/helpers"
            android:parentActivityName="cgeo.geocaching.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.MainActivity" />
        </activity>
        <activity
            android:name=".twitter.TwitterAuthorizationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/auth_twitter"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.cgeo.org"
                    android:pathPrefix="/twitter/"
                    android:scheme="callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditWaypointActivity_"
            android:label="@string/waypoint_edit_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".NavigateAnyPointActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/search_destination"
            android:parentActivityName="cgeo.geocaching.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.MainActivity" />
        </activity>
        <activity
            android:name=".AddressListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/search_address_result"
            android:parentActivityName="cgeo.geocaching.SearchActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.SearchActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/settings_titlebar"
            android:parentActivityName="cgeo.geocaching.MainActivity"
            android:theme="@style/settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.MainActivity" />
        </activity>
        <activity
            android:name=".CacheListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName="cgeo.geocaching.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.MainActivity" />

            <!-- intent filter for local gpx files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.gpx" />
                <!-- path pattern does not match dots correctly: http://stackoverflow.com/q/3400072/44089 -->
                <data android:pathPattern=".*\\..*\\.gpx" />
                <data android:pathPattern=".*\\..*\\..*\\.gpx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.gpx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.gpx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:pathPattern=".*\\.zip" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".maps.MapActivity"
            android:label="@string/map_map" >
        </activity>
        <activity
            android:name=".maps.google.v1.GoogleMapActivity"
            android:label="@string/map_map" >
        </activity>
        <activity
            android:name=".maps.mapsforge.MapsforgeMapActivity"
            android:label="@string/map_map" >
        </activity>
        <activity
            android:name=".maps.mapsforge.v024.MapsforgeMapActivity024"
            android:label="@string/map_map" >
        </activity>
        <activity
            android:name=".StaticMapsActivity_"
            android:label="@string/map_static_title" >
        </activity>
        <activity
            android:name=".LogCacheActivity"
            android:label="@string/log_new_log" >
        </activity>
        <activity
            android:name=".LogTrackableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/trackable_touch" >
        </activity>
        <activity
            android:name=".ImagesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CacheDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="wikitudeapi.arcallback" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coord.info"
                    android:pathPrefix="/GC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geocaching.com"
                    android:pathPrefix="/geocache/GC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geocaching.com"
                    android:pathPrefix="/seek/cache_details.aspx"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geocaching.com"
                    android:pathPrefix="/seek/cache_details.aspx"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="opencaching.de"
                    android:pathPrefix="/OC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.opencaching.de"
                    android:pathPrefix="/OC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.opencaching.de"
                    android:pathPrefix="/viewcache.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="opencaching.fr"
                    android:pathPrefix="/OC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.opencaching.fr"
                    android:pathPrefix="/OC"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.opencaching.fr"
                    android:pathPrefix="/viewcache.php"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="cgeo.geocaching.TrackableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >

            <!-- TravelBug URL via coord.info redirection -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coord.info"
                    android:pathPrefix="/TB"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.coord.info"
                    android:pathPrefix="/TB"
                    android:scheme="http" />
            </intent-filter>

            <!-- TravelBug URL tracking page -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geocaching.com"
                    android:pathPrefix="/track/details.aspx"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geocaching.com"
                    android:pathPrefix="/track/details.aspx"
                    android:scheme="http" />
            </intent-filter>

            <!-- GeoKrety URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geokrety.org"
                    android:pathPrefix="/konkret.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geokrety.org"
                    android:pathPrefix="/konkret.php"
                    android:scheme="http" />
            </intent-filter>

            <!--
            Geokrety QR code URLs, not yet implemented
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geokrety.org"
                    android:pathPrefix="/m/qr.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geokrety.org"
                    android:pathPrefix="/m/qr.php"
                    android:scheme="http" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".CompassActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/compass_title" >
        </activity>
        <activity
            android:name=".GpxFileListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/gpx_import_title" >
        </activity>
        <activity
            android:name=".SelectMapfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/map_file_select_title"
            android:parentActivityName="cgeo.geocaching.settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cgeo.geocaching.settings.SettingsActivity" />
        </activity>
        <activity
            android:name="WaypointPopup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/waypoint"
            android:theme="@style/popup_dark"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".files.SimpleDirChooser"
            android:label="@string/simple_dir_chooser_title" >
        </activity>
        <activity
            android:name=".ImageSelectActivity"
            android:label="@string/log_image" >
        </activity>

        <service
            android:name=".speech.SpeechService"
            android:label="@string/tts_service" >
        </service>

        <activity
            android:name=".connector.oc.OCAuthorizationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.cgeo.org"
                    android:pathPrefix="/opencaching"
                    android:scheme="callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateShortcutActivity"
            android:label="@string/cgeo_shortcut"
            android:parentActivityName="cgeo.geocaching.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SimpleWebviewActivity"
                android:label="c:geo internal browser"
                android:icon="@drawable/ic_launcher_browser">

        </activity>

        <!-- provide enhanced meta data for caches (and waypoints) when invoking Locus from c:geo -->
        <provider
            android:name=".apps.LocusDataStorageProvider"
            android:authorities="cgeo.geocaching.apps.locusdatastorageprovider" />

        <!-- search suggestions for the search bar at the top -->
        <provider
            android:name=".search.SuggestionProvider"
            android:authorities="cgeo.geocaching.search.SuggestionProvider" />
    </application>

</manifest>
