<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakewharton.processphoenix" >

    <uses-sdk android:minSdkVersion="4" />

    <application>
        <activity
            android:name="com.jakewharton.processphoenix.ProcessPhoenix"
            android:process=":phoenix"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>