<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.jensdriller.libs.undobar"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

</manifest>