<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <!-- packages we want to see using the package manager need to be declared starting with targetSDK 30, and we need to use specific strings / cannot use @string/xxx notation -->
        <package android:name="app.organicmaps" />
        <package android:name="app.organicmaps.debug" />
        <package android:name="app.organicmaps.beta" />
    </queries>

</manifest>
