<?xml version="1.0" encoding="UTF-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module
        dist:instant="false"
        dist:title="@string/wherigo_player">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="cgeo.geocaching.wherigo.WherigoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/wherigo_player"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >

            <!-- wherigo.com -->
            <intent-filter tools:ignore="AppLinkWarning">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.wherigo.com" />
                <data android:host="wherigo.com" />
                <data android:pathPrefix="/cartridge/details.aspx" />
                <data android:pathPrefix="/cartridge/downloads.aspx" />
            </intent-filter>
        </activity>

        <service
            android:name="cgeo.geocaching.wherigo.WherigoGameService"
            android:exported="false"
            android:enabled="true"
            android:stopWithTask="true"
            android:foregroundServiceType="location">
        </service>
    </application>
</manifest>
